
h1{
	font-family: "Josefin Sans";
	font-weight: 700;
}

.container1{
    padding-top: 24px;
}


/* Navigation Bar */

.navbar{
	font-family: "Josefin Sans";
}

.navbar-nav li:hover>.dropdown-menu {
    display: block;
}


/* Gallery */

.card{
	transition: transform 0.15s;
}

.card:hover{
	transform: scale(1.02);
}

.card-img-top{
	height: 40vh;
	object-fit: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card-title{
	font-family: "Josefin Sans";
}


.me {
    width: 20%;
    height: 20%;
    float: right;
}

.me_text{
    float:left;
}

.rate-p{
    margin-bottom: 0;
}


/* rate */
.check-temp{
    margin-top: 1rem;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Social media icons */

.social-icon {
    font-size: 2rem;
    padding: 1% 1%;
    transition: all 0.2s ease-in-out;
}

.social-icon.fa-linkedin:hover {
    color: #0d6dfdb2;
    transform: scale(1.5);
}

.social-icon.fa-gitlab:hover {
    color: #0d6dfdb2;
    transform: scale(1.5);
}

.social-icon.fa-envelope:hover {
    color: #0d6dfdb2;
    transform: scale(1.5);
}

/* favorites */

.movie-img{
    height: 30rem;
    width: auto;
    margin-right: 2rem;
}

.food-img{
    height: 30rem;
    width: auto;
    margin-left: 2rem;
}

.fav-p{
    text-align: left;
}

.favorites{
    margin-bottom: 3rem;
}

#idk1{
    background-color: #fdf90d1e;
    padding: 5px 12px;
}

#idk2{
    background-color: #0d6dfd1e;
    padding: 5px 12px;
}

#idk3{
    background-color: rgba(255, 182, 193, 0.473);
    padding: 5px 12px;
}

.blog{
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #DCDADA;
}